    <!-- Toolbar -->
    <header class="p-3 bg-white text-dark" *ngIf="islogined()">
        <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="/assets/images/store/logo.png" height="110" alt="logo">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <!-- <li><button class="btn btn-sm btn-outline-secondary" type="button">Home</button></li> -->
            <li><a routerLink="/home" class="nav-link px-2 text-dark nvlink"><h5>{{'Home'|uppercase}}</h5></a></li>
            <li><a routerLink="/store" class="nav-link px-2 text-dark nvlink1"><h5>{{'Store'|uppercase}}</h5></a></li>
            <li *ngFor="let items of nvlist"><a routerLink="/{{items.path}}" id="{{items.hover}}" class="nav-link px-2 text-dark">
                <h5>{{items.path|uppercase}}</h5></a>
            </li>
<!-- 
            <li><a routerLink="/cats" class="nav-link px-2 text-dark nvlink2"><h5>{{'Cats'|uppercase}}</h5></a></li>
            <li><a routerLink="/dogs" class="nav-link px-2 text-dark nvlink3"><h5>{{'Dogs'|uppercase}}</h5></a></li>
            <li><a routerLink="/clinic" class="nav-link px-2 text-dark nvlink4"><h5>{{'Clinic'|uppercase}}</h5></a></li> -->
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
            <button type="button" class="btn btn-outline-dark me-2" routerLink="/cart">
                                        <i class="fa-solid fa-cart-shopping"></i> Cart</button>
            <button type="button" class="btn btn-outline-danger me-2" (click)="Logout()">
                                        <i class="fa-solid fa-circle-user"></i> Log-out</button>
            <!-- <button type="button" class="btn btn-danger me-2" (click)="Logout()">
                                        <i class="fa-solid fa-circle-user"></i> Log-out</button> -->
            <button type="button" class="btn btn-success me-2" routerLink="/login">
                                        <i class="fa-solid fa-arrow-right-to-bracket"></i> Login</button>
            <button type="button" class="btn btn-warning" routerLink="/signup">
                                        <i class="fa-solid fa-circle-user"></i> Sign-up</button>
            </div>
        </div>
        </div>
    
        
    </header><br><br>