    <br><footer *ngIf="islogined()">

    
        <footer class="py-3 my-4" >
        <a href="/" class="nav justify-content-center mb-3">
            <img src="/assets/images/store/logo.png" height="110" alt="logo">
        </a>
    
        <ul class="nav justify-content-center mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvfb">
                                <i class="fa-brands fa-facebook"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvinsta">
                                <i class="fa-brands fa-instagram"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvyoutube">
                                <i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        
    
        <ul class="nav justify-content-center mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvfooter" routerLink="/home">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvfooter" routerLink="/cats">Cats</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvfooter" routerLink="/dogs">Dogs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvfooter" routerLink="/clinic">Clinic</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted nvfooter" routerLink="/about">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
    
    
    </footer>